@model engie_dashboard.Models.Solicitacao

@{
    ViewData["Title"] = "Abrir Solicitação";
}

<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha256-pasqAKBDmFT4eHoN2ndd6lN370kFiGUFyTiUHWhU7k8="
        crossorigin="anonymous"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $("#TipoSolicitacao").on("change",  "input[name='TipoSolicitacao']:checked", function () {
            var tipo = $("#TipoSolicitacao").val();
            if (tipo === "0") {
                var radioValue = $("input[name='TipoSolicitacao']:checked").val();
                console.log(radioValue);
                $('#divEstadoOperacional').val('').show();
                $('#divPrecipitacao').val('').hide();
                $('#divChuva').val('').hide();
                $('#divNivelDeReservatorio').val('').hide();
                $('#divVazaoAfluente').val('').hide();
                $('#divVazaoVertida').val('').hide();
                $('#divVazaoTurbinada').val('').hide();
                $('#divVazaoDefluente').val('').hide();
                $('#divComandoDePotencia').val('').hide();
                $('#divTipoDePotencia').val('').hide();
                $('#divValor').val('').hide();
                $('#divUnidadeMedida').val('').hide();
            }
            else if (tipo === "1") {
                $('#divEstadoOperacional').val('').hide();
                $('#divPrecipitacao').val('').hide();
                $('#divChuva').val('').hide();
                $('#divNivelDeReservatorio').val('').hide();
                $('#divVazaoAfluente').val('').hide();
                $('#divVazaoVertida').val('').hide();
                $('#divVazaoTurbinada').val('').hide();
                $('#divVazaoDefluente').val('').hide();
                $('#divComandoDePotencia').val('').show();
                $('#divTipoDePotencia').val('').show();
                $('#divValor').val('').show();
                $('#divUnidadeMedida').val('').show();
            }
            else if (tipo === "2") {
                $('#divEstadoOperacional').val('').hide();
                $('#divComandoDePotencia').val('').hide();
                $('#divTipoDePotencia').val('').hide();
                $('#divValor').val('').hide();
                $('#divUnidadeMedida').val('').hide();
                $('#divPrecipitacao').val('').show();
                $('#divChuva').val('').show();
                $('#divNivelDeReservatorio').val('').show();
                $('#divVazaoAfluente').val('').show();
                $('#divVazaoVertida').val('').show();
                $('#divVazaoTurbinada').val('').show();
                $('#divVazaoDefluente').val('').show();
            }
        });
    });
</script>

<h4>Abrir Solicitação</h4>
<hr />

<form asp-action="Create">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label asp-for="Usina" class="control-label"></label>
                <input asp-for="Usina" class="form-control" />
                <span asp-validation-for="Usina" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label asp-for="UG" class="control-label"></label>
                <input asp-for="UG" class="form-control" />
                <span asp-validation-for="UG" class="text-danger"></span>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <label>Tipo de Solicitação:</label>
            <div class="form-group">
                <div class="radio-inline">
                    <label class="btn btn-primary active">
                        @Html.RadioButtonFor(m => m.TipoSolicitacao, TipoSolicitacaoEnum.MudancaEstado, true)
                        Mudança de Estado
                    </label>
                    <label class="btn btn-primary active">
                        @Html.RadioButtonFor(m => m.TipoSolicitacao, TipoSolicitacaoEnum.ComandosTensaoPotencia, true)
                        Tensão/Potência
                    </label>
                    <label class="btn btn-primary active">
                        @Html.RadioButtonFor(m => m.TipoSolicitacao, TipoSolicitacaoEnum.Hidrologia, true)
                        Hidrologia
                    </label>
                </div>
            </div>
        </div>

        <div id="divEstadoOperacional" class="col-md-6">
            <label>Estado Operacional:</label>
            <div class="form-group">
                <div class="radio-inline">
                    <label class="btn btn-primary active">
                        @Html.RadioButtonFor(m => m.EstadoOperacional, EstadoOperacionalEnum.DCS, true)
                        DCS
                    </label>
                    <label class="btn btn-primary active">
                        @Html.RadioButtonFor(m => m.EstadoOperacional, EstadoOperacionalEnum.DGN, false)
                        DGN
                    </label>
                    <label class="btn btn-primary active">
                        @Html.RadioButtonFor(m => m.EstadoOperacional, EstadoOperacionalEnum.DGT, false)
                        DGT
                    </label>
                    <label class="btn btn-primary active">
                        @Html.RadioButtonFor(m => m.EstadoOperacional, EstadoOperacionalEnum.DP, false)
                        DP
                    </label>
                    <label class="btn btn-primary active">
                        @Html.RadioButtonFor(m => m.EstadoOperacional, EstadoOperacionalEnum.DPCQ, false)
                        DPCQ
                    </label>
                    <label class="btn btn-primary active">
                        @Html.RadioButtonFor(m => m.EstadoOperacional, EstadoOperacionalEnum.DPTQ, false)
                        DPTQ
                    </label>
                    <label class="btn btn-primary active">
                        @Html.RadioButtonFor(m => m.EstadoOperacional, EstadoOperacionalEnum.IGP, false)
                        IGP
                    </label>
                    <label class="btn btn-primary active">
                        @Html.RadioButtonFor(m => m.EstadoOperacional, EstadoOperacionalEnum.IPI, false)
                        IPI
                    </label>
                    <label class="btn btn-primary active">
                        @Html.RadioButtonFor(m => m.EstadoOperacional, EstadoOperacionalEnum.IPP, false)
                        IPP
                    </label>
                </div>
            </div>
        </div>

    </div>


    <div class="row">

        <div id="divComandoDePotencia" class="col-md-6">
            <label>Comando de Potencia:</label>
            <div class="form-group">
                <div class="radio-inline">
                    <label class="btn btn-primary active">
                        @Html.RadioButtonFor(m => m.ComandoDePotencia, ComandoDePotenciaEnum.Aumentar, false)
                        Aumentar
                    </label>
                    <label class="btn btn-primary active">
                        @Html.RadioButtonFor(m => m.ComandoDePotencia, ComandoDePotenciaEnum.Diminuir, false)
                        Diminuir
                    </label>
                </div>
            </div>
        </div>

        <div id="divTipoDePotencia" class="col-md-6">
            <label>Tipo de Potencia:</label>
            <div class="form-group">
                <div class="radio-inline">
                    <label class="btn btn-primary active">
                        @Html.RadioButtonFor(m => m.TipoDePotencia, TipoDePotenciaEnum.Tensao, false)
                        Tensão
                    </label>
                    <label class="btn btn-primary active">
                        @Html.RadioButtonFor(m => m.TipoDePotencia, TipoDePotenciaEnum.Potencia, false)
                        Potência
                    </label>
                </div>
            </div>
        </div>

    </div>

    <div class="row">

        <div id="divStatusSolicitacao" class="col-md-6">
            <label>Status da Solicitação:</label>
            <div class="form-group">
                <div class="radio-inline">
                    <label class="btn btn-primary active">
                        @Html.RadioButtonFor(m => m.StatusSolicitacao, StatusSolicitacaoEnum.Solicitado, false)
                        Solicitado
                    </label>
                    <label class="btn btn-primary active">
                        @Html.RadioButtonFor(m => m.StatusSolicitacao, StatusSolicitacaoEnum.Confirmado, false)
                        Confirmado
                    </label>
                    <label class="btn btn-primary active">
                        @Html.RadioButtonFor(m => m.StatusSolicitacao, StatusSolicitacaoEnum.Executado, false)
                        Executado
                    </label>
                    <label class="btn btn-primary active">
                        @Html.RadioButtonFor(m => m.StatusSolicitacao, StatusSolicitacaoEnum.Encaminhado, false)
                        Encaminhado
                    </label>
                    <label class="btn btn-primary active">
                        @Html.RadioButtonFor(m => m.StatusSolicitacao, StatusSolicitacaoEnum.Rejeitado, false)
                        Rejeitado
                    </label>
                    <label class="btn btn-primary active">
                        @Html.RadioButtonFor(m => m.StatusSolicitacao, StatusSolicitacaoEnum.Informado, false)
                        Informado
                    </label>
                </div>
            </div>
        </div>

    </div>

    <div class="form-group float-right">
        <input type="submit" value="Registrar" class="btn btn-primary" />
    </div>
    

</form>

<div class="clearfix">
    <a asp-action="Index"> < Voltar</a>
</div>