@model engie_dashboard.Models.Solicitacao

@{
    ViewData["Title"] = "Abrir Solicitação";
}

<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha256-pasqAKBDmFT4eHoN2ndd6lN370kFiGUFyTiUHWhU7k8="
        crossorigin="anonymous"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $("#TipoSolicitacao").on("change", function () {
            var tipo = $("#TipoSolicitacao").val();
            if (tipo === "0") {
                $('#divEstadoOperacional').val('').show();
                $('#divPrecipitacao').val('').hide();
                $('#divChuva').val('').hide();
                $('#divNivelDeReservatorio').val('').hide();
                $('#divVazaoAfluente').val('').hide();
                $('#divVazaoVertida').val('').hide();
                $('#divVazaoTurbinada').val('').hide();
                $('#divVazaoDefluente').val('').hide();
                $('#divComandoDePotencia').val('').hide();
                $('#divTipoDePotencia').val('').hide();
                $('#divValor').val('').hide();
                $('#divUnidadeMedida').val('').hide();
            }
            else if (tipo === "1") {
                $('#divEstadoOperacional').val('').hide();
                $('#divPrecipitacao').val('').hide();
                $('#divChuva').val('').hide();
                $('#divNivelDeReservatorio').val('').hide();
                $('#divVazaoAfluente').val('').hide();
                $('#divVazaoVertida').val('').hide();
                $('#divVazaoTurbinada').val('').hide();
                $('#divVazaoDefluente').val('').hide();
                $('#divComandoDePotencia').val('').show();
                $('#divTipoDePotencia').val('').show();
                $('#divValor').val('').show();
                $('#divUnidadeMedida').val('').show();
            }
            else if (tipo === "2") {
                $('#divEstadoOperacional').val('').hide();
                $('#divComandoDePotencia').val('').hide();
                $('#divTipoDePotencia').val('').hide();
                $('#divValor').val('').hide();
                $('#divUnidadeMedida').val('').hide();
                $('#divPrecipitacao').val('').show();
                $('#divChuva').val('').show();
                $('#divNivelDeReservatorio').val('').show();
                $('#divVazaoAfluente').val('').show();
                $('#divVazaoVertida').val('').show();
                $('#divVazaoTurbinada').val('').show();
                $('#divVazaoDefluente').val('').show();
            }
        });
    });
</script>

<h4>Abrir Solicitação</h4>
<hr />

<form asp-action="Create">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label asp-for="Usina" class="control-label"></label>
                <input asp-for="Usina" class="form-control" />
                <span asp-validation-for="Usina" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label asp-for="UG" class="control-label"></label>
                <input asp-for="UG" class="form-control" />
                <span asp-validation-for="UG" class="text-danger"></span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <label>Tipo de Solicitação:</label>
            <div class="form-group">
                <div class="btn-group btn-group-toggle" data-toggle="buttons">
                    @foreach (var item in Enum.GetNames(typeof(TipoSolicitacaoEnum)))
                    {
                        <label class="btn btn-secondary active">
                            @if (item.Equals("ComandosTensaoPotencia"))
                            {
                                <input type="radio" name="@item" id="@item" autocomplete="off" checked> <span>Tensão/Potência</span>

                            }
                            else if (item.Equals("MudancaEstado"))
                            {
                                <input type="radio" name="@item" id="@item" autocomplete="off"> <span>Mudança Estado</span>
                            }
                            else
                            {
                                <input type="radio" name="@item" id="@item" autocomplete="off"> <span>@TipoSolicitacaoEnum.Hidrologia</span>
                            }

                        </label>
                    }
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <label>Estado Operacional:</label>
            <div id="divEstadoOperacional" class="form-group">
                <div class="btn-group btn-group-toggle" data-toggle="buttons">
                    @foreach (var item in Enum.GetNames(typeof(TipoSolicitacaoEnum)))
                    {
                        <label class="btn btn-secondary active">
                            @if (item.Equals("ComandosTensaoPotencia"))
                            {
                                <input type="radio" name="@item" id="@item" autocomplete="off" checked> <span>Tensão/Potência</span>

                            }
                            else if (item.Equals("MudancaEstado"))
                            {
                                <input type="radio" name="@item" id="@item" autocomplete="off"> <span>Mudança Estado</span>
                            }
                            else
                            {
                                <input type="radio" name="@item" id="@item" autocomplete="off"> <span>@TipoSolicitacaoEnum.Hidrologia</span>
                            }

                        </label>
                    }
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="btn-group btn-group-toggle" data-toggle="buttons">
                @foreach (var item in Enum.GetNames(typeof(TipoSolicitacaoEnum)))
                {
                <label class="btn btn-secondary active">
                    @if (item.Equals("ComandosTensaoPotencia"))
                    {
                        <input type="radio" name="options" id="@item" autocomplete="off" checked> <span>Tensão/Potência</span>

                    }
                    else if (item.Equals("MudancaEstado"))
                    {
                        <input type="radio" name="options" id="@item" autocomplete="off"> <span>Mudança Estado</span>
                    }
                    else
                    {
                        <input type="radio" name="options" id="@item" autocomplete="off"> <span>@TipoSolicitacaoEnum.Hidrologia</span>
                    }

                </label>
                }
            </div>
        </div>
        <div class="col-md-6">

        </div>
    </div>

</form>

