@model engie_dashboard.Models.Solicitacao

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Solicitacao</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TipoSolicitacao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TipoSolicitacao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Usina)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Usina)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UG)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UG)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Data)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Data)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Valor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Valor)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UnidadeMedida)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UnidadeMedida)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SolicitanteId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SolicitanteId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OperadorId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OperadorId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EncaminhadoId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EncaminhadoId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StatusSolicitacao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StatusSolicitacao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EstadoOperacional)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EstadoOperacional)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
