@model IEnumerable<engie_dashboard.Models.Solicitacao>

<head>
    <link href="~/css/fontawesome.min.css" rel="stylesheet" />
</head>

@{
    ViewData["Title"] = "Index";

    IList<SelectListItem> list = Enum.GetValues(typeof(StatusSolicitacaoEnum)).Cast<StatusSolicitacaoEnum>().Select(x => new SelectListItem { Text = x.ToString(), Value = ((int)x).ToString() }).ToList();
    SelectList dataStatus = new SelectList(list, "Value", "Text");
}

<h3>Solicitações</h3>
<p style="margin-top:2%;">
    <a asp-action="Create">Abrir Solicitação</a>
</p>

@using (Html.BeginForm("Index", "Solicitacoes", FormMethod.Get))
{
<div class="row">
    <div class="col-md-3">
        <label>Usina</label>
        <input type="text" name="usina" id="usina" class="form-control" />
    </div>

    <div class="col-md-3" style="margin-bottom:3%;">
        <label>Status Solicitação</label>
        @Html.DropDownList("statussol", new SelectList(@list, "Value", "Text"), "Select", new { @class = "form-control", @id = "statussol" })
    </div>

    <div class="col-md-3">
        <label>Solicitado por</label>
        @Html.DropDownList("solicit", new SelectList(ViewBag.Usuarios, "Value", "Text"), "Select", new { @class = "form-control", @id = "solicit" })
    </div>
   
    <div class="col-md-3">
        <button id="btnSearch" type="submit" class="btn btn-primary" style="float: right;margin-top: 11%;">
            Buscar

        </button>
    </div>
</div>
}





<div class="row float-right" style="margin-right:3px">
    Total de registro(s): @Model.Count()
</div>

<div class="clearfix"></div>

<div style="width:100%;overflow-x:auto;">
    <table class="table dataTable table-bordered table-hover table-striped table-condensed" id="gridSolicitacoes">
        <thead>
            <tr style="text-align:center;">
                <th>Ações</th>
                <th>Data</th>
                <th>Usina</th>
                <th>UG</th>
                <th>Tipo Solicitação</th>
                <th>Solicitante</th>
                <th>Status</th>
            </tr>
        </thead>
        @if (Model.Count() == 0)
        {
            <tfoot>
                <tr>
                    <td colspan="8" class="text-center">Não há registro.</td>
                </tr>
            </tfoot>
        }
        <tbody>
            @foreach (var item in Model)
            {
                <tr style="text-align:center;">
                    <td style="vertical-align:middle;">
                        <a href="@Url.Action("Details", "Solicitacoes", new { id = item.Id.Trim() })" class="btn btn-default" style="height:auto;margin-top:auto;"
                           title="Detalhes">
                            <i class="fa fa-info-circle" aria-hidden="true"></i>
                        </a>
                        <a href="@Url.Action("Editar", "Solicitacoes", new { id = item.Id.Trim() })" class="btn btn-default" style="height:auto;margin-top:auto;"
                           title="Editar">
                            <i class="fa fa-pencil" aria-hidden="true"></i>
                        </a>
                        <a href="@Url.Action("Historico", "Solicitacoes", new { id = item.Id.Trim() })" class="btn btn-default" style="height:auto;margin-top:auto;"
                           title="Histórico">
                            <i class="fa fa-history" aria-hidden="true"></i>
                        </a>
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Data)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Usina)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.UG)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TipoSolicitacao)
                    </td>
                    <td>
                        @item.Solicitante.NomeCompleto (@item.Solicitante.Empresa)
                    </td>
                    @if (item.StatusSolicitacao.Equals(StatusSolicitacaoEnum.Solicitado))
                    {
                        <td style="background-color:cornflowerblue">
                            @Html.DisplayFor(modelItem => item.StatusSolicitacao)
                        </td>
                    }
                    @if (item.StatusSolicitacao.Equals(StatusSolicitacaoEnum.Encaminhado))
                    {
                        <td style="background-color:deepskyblue">
                            @Html.DisplayFor(modelItem => item.StatusSolicitacao)
                        </td>
                    }
                    @if (item.StatusSolicitacao.Equals(StatusSolicitacaoEnum.Executado))
                    {
                        <td style="background-color:yellow">
                            @Html.DisplayFor(modelItem => item.StatusSolicitacao)
                        </td>
                    }
                    @if (item.StatusSolicitacao.Equals(StatusSolicitacaoEnum.Confirmado))
                    {
                        <td style="background-color:lightgreen">
                            @Html.DisplayFor(modelItem => item.StatusSolicitacao)
                        </td>
                    }
                    @if (item.StatusSolicitacao.Equals(StatusSolicitacaoEnum.Informado))
                    {
                        <td style="background-color:lightgrey">
                            @Html.DisplayFor(modelItem => item.StatusSolicitacao)
                        </td>
                    }

                </tr>
            }
        </tbody>
    </table>
</div>
